*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white ;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/*flex*/

.flex{
    display: flex;
}

.flex-bet{
    justify-content: space-between;
}

.flex-ar{
    justify-content: space-around;
}

.flex-wrap{
    flex-wrap: wrap;
}
.flex-col{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
}

.flex-al-cen{
    align-items: center;
}

.flex-end{
    justify-content: flex-end;
}

/*main header*/

main .header-main{
    height: calc(100vh - 15vh);
    width: 16%;
    max-width: 760px;
    background-color: black;
    padding: .5rem 1rem;
}

.header-main a{
    color: white;
}

.header-main nav .logo{
    width: 50%;
    padding-bottom: .5rem;
}

.header-main nav ul{
    padding: .5rem 0;
}

.header-main nav ul li{
    padding: .2rem 0;
    align-items: center;
}

.header-main nav .box{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #B2B2B2;
    color: black;
}

.header-main .icon{
    width: 1.2rem;
}

.header-bottom img:first-child{
    width: 6%;
} 

.header-bottom hr{
    margin: .5rem 0;
}

.header-bottom a:last-child img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: #B2B2B2;
}

@media screen and (max-width:480px){
    main .header-main{
        max-width: 3vw;
    }

    .header-main nav ul:last-child{
        display: none;
    }
}

/*main music main*/

main .music-main{
    height: calc(100vh - 15vh);
    width: 84%;
    background-color: blue;
    overflow: auto;
}

/*upgrade*/

.upgrade{
    background-color: #080B12;
    padding: 1rem .5rem;
}

.upgrade .bottone{
    border: 2px white solid;
    border-radius: 5rem;
    padding: 1rem 2.5rem;
}

/*contain*/

.contain{
    background-color: #141922;
}

/*Categorie*/

.categorie{
    padding: 1rem 0;
}

.categorie li{
    padding: 0 .5rem ;
}

/*Recently Played*/

.recently-played, .jhon-doe, .artisti-popolari{
    padding: .5rem 1rem;
}

.recently-played .items{
    width: 12rem;
    text-align: center;
}

.recently-played .items img{
    width: 100%;
}

/*footer*/

footer{
    height: 15vh;
    background-color: lime;
}

/*elementi da cancellare*/

.trat{
    border: 2px blue dashed;
}